a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline green;
    background-color: linear-gradient(90deg, #696484, #8788BA) !important;
    opacity: 0.5;

}

em {
    color: #A5B4FC;
    ;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: Montserrat;
}

p {
    font-size: 1.1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li {
    font-size: 1em;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu {
    background-color: white;
}

body {
    background-color: #1F2039;
}

header a ,
footer a  {
    color: #242424;
    margin-left: 30px;
}

p,
h2,
li {
    color: #f9f8ff;
}

.element {
    font-size: 16px;
    background-color: skyblue;
    border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%;
    padding: 100px;
    box-shadow: -9px 12px 10px 0px rgba(0, 0, 0);

}

